.ix-heading {
    color: var(--ix-color-foreground-main-emphasis);
    line-height: 1.2;
}

.ix-heading[data-size="xl"], .ix-heading[data-size="lg"] {
    font-family: var(--ix-font-family-heading);
    font-weight: var(--ii-font-weight-bold);
}

.ix-heading[data-size="md"], .ix-heading[data-size="sm"], .ix-heading[data-size="xs"] {
    font-family: var(--ix-font-family-normal);
    font-weight: var(--ix-font-weight-medium);
}

.ix-heading[data-size="2xl"] {
    font-family: var(--ix-font-family-heading);
    font-size: var(--ix-font-size-5xl);
    font-weight: var(--ix-font-weight-regular);
}

.ix-heading[data-size="xl"] {
    font-size: var(--ix-font-size-3xl);
}

.ix-heading[data-size="lg"] {
    font-size: var(--ix-font-size-2xl);
}

.ix-heading[data-size="md"] {
    font-size: var(--ix-font-size-xl);
}

.ix-heading[data-size="sm"] {
    font-size: var(--ix-font-size-lg);
}

.ix-heading[data-size="xs"] {
    font-size: var(--ix-font-size-md);
}
