:where(.ix-heading) {
    color: var(--ix-color-foreground-main-emphasis);
    line-height: 1.2;
}

:where(.ix-heading[data-size="xl"], .ix-heading[data-size="lg"]) {
    font-family: var(--ix-font-family-heading);
    font-weight: var(--ii-font-weight-bold);
}

:where(.ix-heading[data-size="md"], .ix-heading[data-size="sm"], .ix-heading[data-size="xs"]) {
    font-family: var(--ix-font-family-normal);
    font-weight: var(--ix-font-weight-medium);
}

:where(.ix-heading[data-size="2xl"]) {
    font-family: var(--ix-font-family-heading);
    font-size: var(--ix-font-size-5xl);
    font-weight: var(--ix-font-weight-regular);
}

:where(.ix-heading[data-size="xl"]) {
    font-size: var(--ix-font-size-3xl);
}

:where(.ix-heading[data-size="lg"]) {
    font-size: var(--ix-font-size-2xl);
}

:where(.ix-heading[data-size="md"]) {
    font-size: var(--ix-font-size-xl);
}

:where(.ix-heading[data-size="sm"]) {
    font-size: var(--ix-font-size-lg);
}

:where(.ix-heading[data-size="xs"]) {
    font-size: var(--ix-font-size-md);
}
