.ix-link-text {
    color: var(--ix-color-foreground-link-default);
    text-decoration: underline;
    transition: color var(--ix-transition-duration) var(--ix-transition-animation);
}

.ix-link-text:hover {
    color: var(--ix-color-foreground-link-hover);
}

.ix-link-text--active {
    color: var(--ix-color-foreground-link-active);
}

.ix-link-text--no-underline {
    text-decoration: none;
}