# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules
dist
*.local

# Storybook
*storybook.log
storybook-static

# Playwright
**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/
**/playwright/report/
