:where(ix-field, .ix-field) {
    display: flex;
    flex-direction: column;
    gap: var(--ix-spacing-2xs);
}

:where(ix-field, .ix-field)[data-disabled],
:where(.ix-field--disabled) {
    opacity: var(--ix-opacity-disabled);
}

:where(ix-field, .ix-field)[data-disabled] > label,
:where(.ix-field--disabled) > label {
    color: var(--ix-color-foreground-main-default);
}

:where(ix-field, .ix-field)[data-readonly] > label,
:where(.ix-field--readonly) > label {
    color: var(--ix-color-foreground-main-read-only);
}

:where(ix-field, .ix-field) [data-field="description"] {
    font-size: var(--ix-font-size-sm);
    color: var(--ix-color-foreground-main-subtle);

    &:empty {
        display: none;
    }
}

:where(ix-field, .ix-field) [data-field="error"] {
    font-size: var(--ix-font-size-md);
    color: var(--ix-color-foreground-danger-default);
}

:where(ix-field, .ix-field) [data-field="char-count"] {
    font-size: var(--ix-font-size-sm);
    color: var(--ix-color-foreground-main-subtle);
    text-align: right;
}