:where(.ix-field) {
    display: flex;
    flex-direction: column;
    gap: var(--ix-spacing-2xs);
}

:where(.ix-field--disabled) {
    opacity: var(--ix-opacity-disabled);
}

:where(.ix-field--disabled) .ix-text-field__label {
    color: var(--ix-color-foreground-main-default);
}

:where(.ix-field--read-only) .ix-text-field__label {
    color: var(--ix-color-foreground-main-read-only);
}