/* Padding Utilities */

.ix-p-0 {
    padding: 0;
}

.ix-p-2xs {
    padding: var(--ix-spacing-2xs);
}

.ix-p-xs {
    padding: var(--ix-spacing-xs);
}

.ix-p-sm {
    padding: var(--ix-spacing-sm);
}

.ix-p-md {
    padding: var(--ix-spacing-md);
}

.ix-p-lg {
    padding: var(--ix-spacing-lg);
}

.ix-p-xl {
    padding: var(--ix-spacing-xl);
}

.ix-p-2xl {
    padding: var(--ix-spacing-2xl);
}

.ix-p-3xl {
    padding: var(--ix-spacing-3xl);
}

.ix-p-4xl {
    padding: var(--ix-spacing-4xl);
}

/* Padding top */

.ix-pt-0 {
    padding-top: 0;
}

.ix-pt-2xs {
    padding-top: var(--ix-spacing-2xs);
}

.ix-pt-xs {
    padding-top: var(--ix-spacing-xs);
}

.ix-pt-sm {
    padding-top: var(--ix-spacing-sm);
}

.ix-pt-md {
    padding-top: var(--ix-spacing-md);
}

.ix-pt-lg {
    padding-top: var(--ix-spacing-lg);
}

.ix-pt-xl {
    padding-top: var(--ix-spacing-xl);
}

.ix-pt-2xl {
    padding-top: var(--ix-spacing-2xl);
}

.ix-pt-3xl {
    padding-top: var(--ix-spacing-3xl);
}

.ix-pt-4xl {
    padding-top: var(--ix-spacing-4xl);
}

/* Padding bottom */

.ix-pb-0 {
    padding-bottom: 0;
}

.ix-pb-2xs {
    padding-bottom: var(--ix-spacing-2xs);
}

.ix-pb-xs {
    padding-bottom: var(--ix-spacing-xs);
}

.ix-pb-sm {
    padding-bottom: var(--ix-spacing-sm);
}

.ix-pb-md {
    padding-bottom: var(--ix-spacing-md);
}

.ix-pb-lg {
    padding-bottom: var(--ix-spacing-lg);
}

.ix-pb-xl {
    padding-bottom: var(--ix-spacing-xl);
}

.ix-pb-2xl {
    padding-bottom: var(--ix-spacing-2xl);
}

.ix-pb-3xl {
    padding-bottom: var(--ix-spacing-3xl);
}

.ix-pb-4xl {
    padding-bottom: var(--ix-spacing-4xl);
}

/* Padding right */

.ix-pr-0 {
    padding-right: 0;
}

.ix-pr-2xs {
    padding-right: var(--ix-spacing-2xs);
}

.ix-pr-xs {
    padding-right: var(--ix-spacing-xs);
}

.ix-pr-sm {
    padding-right: var(--ix-spacing-sm);
}

.ix-pr-md {
    padding-right: var(--ix-spacing-md);
}

.ix-pr-lg {
    padding-right: var(--ix-spacing-lg);
}

.ix-pr-xl {
    padding-right: var(--ix-spacing-xl);
}

.ix-pr-2xl {
    padding-right: var(--ix-spacing-2xl);
}

.ix-pr-3xl {
    padding-right: var(--ix-spacing-3xl);
}

.ix-pr-4xl {
    padding-right: var(--ix-spacing-4xl);
}

/* Padding left */

.ix-pl-0 {
    padding-left: 0;
}

.ix-pl-2xs {
    padding-left: var(--ix-spacing-2xs);
}

.ix-pl-xs {
    padding-left: var(--ix-spacing-xs);
}

.ix-pl-sm {
    padding-left: var(--ix-spacing-sm);
}

.ix-pl-md {
    padding-left: var(--ix-spacing-md);
}

.ix-pl-lg {
    padding-left: var(--ix-spacing-lg);
}

.ix-pl-xl {
    padding-left: var(--ix-spacing-xl);
}

.ix-pl-2xl {
    padding-left: var(--ix-spacing-2xl);
}

.ix-pl-3xl {
    padding-left: var(--ix-spacing-3xl);
}

.ix-pl-4xl {
    padding-left: var(--ix-spacing-4xl);
}

/* Padding horizontal */

.ix-px-0 {
    padding-inline: 0;
}

.ix-px-2xs {
    padding-inline: var(--ix-spacing-2xs);
}

.ix-px-xs {
    padding-inline: var(--ix-spacing-xs);
}

.ix-px-sm {
    padding-inline: var(--ix-spacing-sm);
}

.ix-px-md {
    padding-inline: var(--ix-spacing-md);
}

.ix-px-lg {
    padding-inline: var(--ix-spacing-lg);
}

.ix-px-xl {
    padding-inline: var(--ix-spacing-xl);
}

.ix-px-2xl {
    padding-inline: var(--ix-spacing-2xl);
}

.ix-px-3xl {
    padding-inline: var(--ix-spacing-3xl);
}

.ix-px-4xl {
    padding-inline: var(--ix-spacing-4xl);
}

/* Padding vertical */

.ix-py-0 {
    padding-block: 0;
}

.ix-py-2xs {
    padding-block: var(--ix-spacing-2xs);
}

.ix-py-xs {
    padding-block: var(--ix-spacing-xs);
}

.ix-py-sm {
    padding-block: var(--ix-spacing-sm);
}

.ix-py-md {
    padding-block: var(--ix-spacing-md);
}

.ix-py-lg {
    padding-block: var(--ix-spacing-lg);
}

.ix-py-xl {
    padding-block: var(--ix-spacing-xl);
}

.ix-py-2xl {
    padding-block: var(--ix-spacing-2xl);
}

.ix-py-3xl {
    padding-block: var(--ix-spacing-3xl);
}

.ix-py-4xl {
    padding-block: var(--ix-spacing-4xl);
}

@media (min-width: 768px) {
    .ix-sm-p-0 {
        padding: 0;
    }

    .ix-sm-p-2xs {
        padding: var(--ix-spacing-2xs);
    }

    .ix-sm-p-xs {
        padding: var(--ix-spacing-xs);
    }

    .ix-sm-p-sm {
        padding: var(--ix-spacing-sm);
    }

    .ix-sm-p-md {
        padding: var(--ix-spacing-md);
    }

    .ix-sm-p-lg {
        padding: var(--ix-spacing-lg);
    }

    .ix-sm-p-xl {
        padding: var(--ix-spacing-xl);
    }

    .ix-sm-p-2xl {
        padding: var(--ix-spacing-2xl);
    }

    .ix-sm-p-3xl {
        padding: var(--ix-spacing-3xl);
    }

    .ix-sm-p-4xl {
        padding: var(--ix-spacing-4xl);
    }

    /* Padding top */

    .ix-sm-pt-0 {
        padding-top: 0;
    }

    .ix-sm-pt-2xs {
        padding-top: var(--ix-spacing-2xs);
    }

    .ix-sm-pt-xs {
        padding-top: var(--ix-spacing-xs);
    }

    .ix-sm-pt-sm {
        padding-top: var(--ix-spacing-sm);
    }

    .ix-sm-pt-md {
        padding-top: var(--ix-spacing-md);
    }

    .ix-sm-pt-lg {
        padding-top: var(--ix-spacing-lg);
    }

    .ix-sm-pt-xl {
        padding-top: var(--ix-spacing-xl);
    }

    .ix-sm-pt-2xl {
        padding-top: var(--ix-spacing-2xl);
    }

    .ix-sm-pt-3xl {
        padding-top: var(--ix-spacing-3xl);
    }

    .ix-sm-pt-4xl {
        padding-top: var(--ix-spacing-4xl);
    }

    /* Padding bottom */

    .ix-sm-pb-0 {
        padding-bottom: 0;
    }

    .ix-sm-pb-2xs {
        padding-bottom: var(--ix-spacing-2xs);
    }

    .ix-sm-pb-xs {
        padding-bottom: var(--ix-spacing-xs);
    }

    .ix-sm-pb-sm {
        padding-bottom: var(--ix-spacing-sm);
    }

    .ix-sm-pb-md {
        padding-bottom: var(--ix-spacing-md);
    }

    .ix-sm-pb-lg {
        padding-bottom: var(--ix-spacing-lg);
    }

    .ix-sm-pb-xl {
        padding-bottom: var(--ix-spacing-xl);
    }

    .ix-sm-pb-2xl {
        padding-bottom: var(--ix-spacing-2xl);
    }

    .ix-sm-pb-3xl {
        padding-bottom: var(--ix-spacing-3xl);
    }

    .ix-sm-pb-4xl {
        padding-bottom: var(--ix-spacing-4xl);
    }

    /* Padding right */

    .ix-sm-pr-0 {
        padding-right: 0;
    }

    .ix-sm-pr-2xs {
        padding-right: var(--ix-spacing-2xs);
    }

    .ix-sm-pr-xs {
        padding-right: var(--ix-spacing-xs);
    }

    .ix-sm-pr-sm {
        padding-right: var(--ix-spacing-sm);
    }

    .ix-sm-pr-md {
        padding-right: var(--ix-spacing-md);
    }

    .ix-sm-pr-lg {
        padding-right: var(--ix-spacing-lg);
    }

    .ix-sm-pr-xl {
        padding-right: var(--ix-spacing-xl);
    }

    .ix-sm-pr-2xl {
        padding-right: var(--ix-spacing-2xl);
    }

    .ix-sm-pr-3xl {
        padding-right: var(--ix-spacing-3xl);
    }

    .ix-sm-pr-4xl {
        padding-right: var(--ix-spacing-4xl);
    }

    /* Padding left */

    .ix-sm-pl-0 {
        padding-left: 0;
    }

    .ix-sm-pl-2xs {
        padding-left: var(--ix-spacing-2xs);
    }

    .ix-sm-pl-xs {
        padding-left: var(--ix-spacing-xs);
    }

    .ix-sm-pl-sm {
        padding-left: var(--ix-spacing-sm);
    }

    .ix-sm-pl-md {
        padding-left: var(--ix-spacing-md);
    }

    .ix-sm-pl-lg {
        padding-left: var(--ix-spacing-lg);
    }

    .ix-sm-pl-xl {
        padding-left: var(--ix-spacing-xl);
    }

    .ix-sm-pl-2xl {
        padding-left: var(--ix-spacing-2xl);
    }

    .ix-sm-pl-3xl {
        padding-left: var(--ix-spacing-3xl);
    }

    .ix-sm-pl-4xl {
        padding-left: var(--ix-spacing-4xl);
    }

    /* Padding horizontal */

    .ix-sm-px-0 {
        padding-inline: 0;
    }

    .ix-sm-px-2xs {
        padding-inline: var(--ix-spacing-2xs);
    }

    .ix-sm-px-xs {
        padding-inline: var(--ix-spacing-xs);
    }

    .ix-sm-px-sm {
        padding-inline: var(--ix-spacing-sm);
    }

    .ix-sm-px-md {
        padding-inline: var(--ix-spacing-md);
    }

    .ix-sm-px-lg {
        padding-inline: var(--ix-spacing-lg);
    }

    .ix-sm-px-xl {
        padding-inline: var(--ix-spacing-xl);
    }

    .ix-sm-px-2xl {
        padding-inline: var(--ix-spacing-2xl);
    }

    .ix-sm-px-3xl {
        padding-inline: var(--ix-spacing-3xl);
    }

    .ix-sm-px-4xl {
        padding-inline: var(--ix-spacing-4xl);
    }

    /* Padding vertical */

    .ix-sm-py-0 {
        padding-block: 0;
    }

    .ix-sm-py-2xs {
        padding-block: var(--ix-spacing-2xs);
    }

    .ix-sm-py-xs {
        padding-block: var(--ix-spacing-xs);
    }

    .ix-sm-py-sm {
        padding-block: var(--ix-spacing-sm);
    }

    .ix-sm-py-md {
        padding-block: var(--ix-spacing-md);
    }

    .ix-sm-py-lg {
        padding-block: var(--ix-spacing-lg);
    }

    .ix-sm-py-xl {
        padding-block: var(--ix-spacing-xl);
    }

    .ix-sm-py-2xl {
        padding-block: var(--ix-spacing-2xl);
    }

    .ix-sm-py-3xl {
        padding-block: var(--ix-spacing-3xl);
    }

    .ix-sm-py-4xl {
        padding-block: var(--ix-spacing-4xl);
    }
}

@media (min-width: 1024px) {
    .ix-md-p-0 {
        padding: 0;
    }

    .ix-md-p-2xs {
        padding: var(--ix-spacing-2xs);
    }

    .ix-md-p-xs {
        padding: var(--ix-spacing-xs);
    }

    .ix-md-p-sm {
        padding: var(--ix-spacing-sm);
    }

    .ix-md-p-md {
        padding: var(--ix-spacing-md);
    }

    .ix-md-p-lg {
        padding: var(--ix-spacing-lg);
    }

    .ix-md-p-xl {
        padding: var(--ix-spacing-xl);
    }

    .ix-md-p-2xl {
        padding: var(--ix-spacing-2xl);
    }

    .ix-md-p-3xl {
        padding: var(--ix-spacing-3xl);
    }

    .ix-md-p-4xl {
        padding: var(--ix-spacing-4xl);
    }

    /* Padding top */

    .ix-md-pt-0 {
        padding-top: 0;
    }

    .ix-md-pt-2xs {
        padding-top: var(--ix-spacing-2xs);
    }

    .ix-md-pt-xs {
        padding-top: var(--ix-spacing-xs);
    }

    .ix-md-pt-sm {
        padding-top: var(--ix-spacing-sm);
    }

    .ix-md-pt-md {
        padding-top: var(--ix-spacing-md);
    }

    .ix-md-pt-lg {
        padding-top: var(--ix-spacing-lg);
    }

    .ix-md-pt-xl {
        padding-top: var(--ix-spacing-xl);
    }

    .ix-md-pt-2xl {
        padding-top: var(--ix-spacing-2xl);
    }

    .ix-md-pt-3xl {
        padding-top: var(--ix-spacing-3xl);
    }

    .ix-md-pt-4xl {
        padding-top: var(--ix-spacing-4xl);
    }

    /* Padding bottom */

    .ix-md-pb-0 {
        padding-bottom: 0;
    }

    .ix-md-pb-2xs {
        padding-bottom: var(--ix-spacing-2xs);
    }

    .ix-md-pb-xs {
        padding-bottom: var(--ix-spacing-xs);
    }

    .ix-md-pb-sm {
        padding-bottom: var(--ix-spacing-sm);
    }

    .ix-md-pb-md {
        padding-bottom: var(--ix-spacing-md);
    }

    .ix-md-pb-lg {
        padding-bottom: var(--ix-spacing-lg);
    }

    .ix-md-pb-xl {
        padding-bottom: var(--ix-spacing-xl);
    }

    .ix-md-pb-2xl {
        padding-bottom: var(--ix-spacing-2xl);
    }

    .ix-md-pb-3xl {
        padding-bottom: var(--ix-spacing-3xl);
    }

    .ix-md-pb-4xl {
        padding-bottom: var(--ix-spacing-4xl);
    }

    /* Padding right */

    .ix-md-pr-0 {
        padding-right: 0;
    }

    .ix-md-pr-2xs {
        padding-right: var(--ix-spacing-2xs);
    }

    .ix-md-pr-xs {
        padding-right: var(--ix-spacing-xs);
    }

    .ix-md-pr-sm {
        padding-right: var(--ix-spacing-sm);
    }

    .ix-md-pr-md {
        padding-right: var(--ix-spacing-md);
    }

    .ix-md-pr-lg {
        padding-right: var(--ix-spacing-lg);
    }

    .ix-md-pr-xl {
        padding-right: var(--ix-spacing-xl);
    }

    .ix-md-pr-2xl {
        padding-right: var(--ix-spacing-2xl);
    }

    .ix-md-pr-3xl {
        padding-right: var(--ix-spacing-3xl);
    }

    .ix-md-pr-4xl {
        padding-right: var(--ix-spacing-4xl);
    }

    /* Padding left */

    .ix-md-pl-0 {
        padding-left: 0;
    }

    .ix-md-pl-2xs {
        padding-left: var(--ix-spacing-2xs);
    }

    .ix-md-pl-xs {
        padding-left: var(--ix-spacing-xs);
    }

    .ix-md-pl-sm {
        padding-left: var(--ix-spacing-sm);
    }

    .ix-md-pl-md {
        padding-left: var(--ix-spacing-md);
    }

    .ix-md-pl-lg {
        padding-left: var(--ix-spacing-lg);
    }

    .ix-md-pl-xl {
        padding-left: var(--ix-spacing-xl);
    }

    .ix-md-pl-2xl {
        padding-left: var(--ix-spacing-2xl);
    }

    .ix-md-pl-3xl {
        padding-left: var(--ix-spacing-3xl);
    }

    .ix-md-pl-4xl {
        padding-left: var(--ix-spacing-4xl);
    }

    /* Padding horizontal */

    .ix-md-px-0 {
        padding-inline: 0;
    }

    .ix-md-px-2xs {
        padding-inline: var(--ix-spacing-2xs);
    }

    .ix-md-px-xs {
        padding-inline: var(--ix-spacing-xs);
    }

    .ix-md-px-sm {
        padding-inline: var(--ix-spacing-sm);
    }

    .ix-md-px-md {
        padding-inline: var(--ix-spacing-md);
    }

    .ix-md-px-lg {
        padding-inline: var(--ix-spacing-lg);
    }

    .ix-md-px-xl {
        padding-inline: var(--ix-spacing-xl);
    }

    .ix-md-px-2xl {
        padding-inline: var(--ix-spacing-2xl);
    }

    .ix-md-px-3xl {
        padding-inline: var(--ix-spacing-3xl);
    }

    .ix-md-px-4xl {
        padding-inline: var(--ix-spacing-4xl);
    }

    /* Padding vertical */

    .ix-md-py-0 {
        padding-block: 0;
    }

    .ix-md-py-2xs {
        padding-block: var(--ix-spacing-2xs);
    }

    .ix-md-py-xs {
        padding-block: var(--ix-spacing-xs);
    }

    .ix-md-py-sm {
        padding-block: var(--ix-spacing-sm);
    }

    .ix-md-py-md {
        padding-block: var(--ix-spacing-md);
    }

    .ix-md-py-lg {
        padding-block: var(--ix-spacing-lg);
    }

    .ix-md-py-xl {
        padding-block: var(--ix-spacing-xl);
    }

    .ix-md-py-2xl {
        padding-block: var(--ix-spacing-2xl);
    }

    .ix-md-py-3xl {
        padding-block: var(--ix-spacing-3xl);
    }

    .ix-md-py-4xl {
        padding-block: var(--ix-spacing-4xl);
    }
}

@media (min-width: 1280px) {
    .ix-lg-p-0 {
        padding: 0;
    }

    .ix-lg-p-2xs {
        padding: var(--ix-spacing-2xs);
    }

    .ix-lg-p-xs {
        padding: var(--ix-spacing-xs);
    }

    .ix-lg-p-sm {
        padding: var(--ix-spacing-sm);
    }

    .ix-lg-p-md {
        padding: var(--ix-spacing-md);
    }

    .ix-lg-p-lg {
        padding: var(--ix-spacing-lg);
    }

    .ix-lg-p-xl {
        padding: var(--ix-spacing-xl);
    }

    .ix-lg-p-2xl {
        padding: var(--ix-spacing-2xl);
    }

    .ix-lg-p-3xl {
        padding: var(--ix-spacing-3xl);
    }

    .ix-lg-p-4xl {
        padding: var(--ix-spacing-4xl);
    }

    /* Padding top */

    .ix-lg-pt-0 {
        padding-top: 0;
    }

    .ix-lg-pt-2xs {
        padding-top: var(--ix-spacing-2xs);
    }

    .ix-lg-pt-xs {
        padding-top: var(--ix-spacing-xs);
    }

    .ix-lg-pt-sm {
        padding-top: var(--ix-spacing-sm);
    }

    .ix-lg-pt-md {
        padding-top: var(--ix-spacing-md);
    }

    .ix-lg-pt-lg {
        padding-top: var(--ix-spacing-lg);
    }

    .ix-lg-pt-xl {
        padding-top: var(--ix-spacing-xl);
    }

    .ix-lg-pt-2xl {
        padding-top: var(--ix-spacing-2xl);
    }

    .ix-lg-pt-3xl {
        padding-top: var(--ix-spacing-3xl);
    }

    .ix-lg-pt-4xl {
        padding-top: var(--ix-spacing-4xl);
    }

    /* Padding bottom */

    .ix-lg-pb-0 {
        padding-bottom: 0;
    }

    .ix-lg-pb-2xs {
        padding-bottom: var(--ix-spacing-2xs);
    }

    .ix-lg-pb-xs {
        padding-bottom: var(--ix-spacing-xs);
    }

    .ix-lg-pb-sm {
        padding-bottom: var(--ix-spacing-sm);
    }

    .ix-lg-pb-md {
        padding-bottom: var(--ix-spacing-md);
    }

    .ix-lg-pb-lg {
        padding-bottom: var(--ix-spacing-lg);
    }

    .ix-lg-pb-xl {
        padding-bottom: var(--ix-spacing-xl);
    }

    .ix-lg-pb-2xl {
        padding-bottom: var(--ix-spacing-2xl);
    }

    .ix-lg-pb-3xl {
        padding-bottom: var(--ix-spacing-3xl);
    }

    .ix-lg-pb-4xl {
        padding-bottom: var(--ix-spacing-4xl);
    }

    /* Padding right */

    .ix-lg-pr-0 {
        padding-right: 0;
    }

    .ix-lg-pr-2xs {
        padding-right: var(--ix-spacing-2xs);
    }

    .ix-lg-pr-xs {
        padding-right: var(--ix-spacing-xs);
    }

    .ix-lg-pr-sm {
        padding-right: var(--ix-spacing-sm);
    }

    .ix-lg-pr-md {
        padding-right: var(--ix-spacing-md);
    }

    .ix-lg-pr-lg {
        padding-right: var(--ix-spacing-lg);
    }

    .ix-lg-pr-xl {
        padding-right: var(--ix-spacing-xl);
    }

    .ix-lg-pr-2xl {
        padding-right: var(--ix-spacing-2xl);
    }

    .ix-lg-pr-3xl {
        padding-right: var(--ix-spacing-3xl);
    }

    .ix-lg-pr-4xl {
        padding-right: var(--ix-spacing-4xl);
    }

    /* Padding left */

    .ix-lg-pl-0 {
        padding-left: 0;
    }

    .ix-lg-pl-2xs {
        padding-left: var(--ix-spacing-2xs);
    }

    .ix-lg-pl-xs {
        padding-left: var(--ix-spacing-xs);
    }

    .ix-lg-pl-sm {
        padding-left: var(--ix-spacing-sm);
    }

    .ix-lg-pl-md {
        padding-left: var(--ix-spacing-md);
    }

    .ix-lg-pl-lg {
        padding-left: var(--ix-spacing-lg);
    }

    .ix-lg-pl-xl {
        padding-left: var(--ix-spacing-xl);
    }

    .ix-lg-pl-2xl {
        padding-left: var(--ix-spacing-2xl);
    }

    .ix-lg-pl-3xl {
        padding-left: var(--ix-spacing-3xl);
    }

    .ix-lg-pl-4xl {
        padding-left: var(--ix-spacing-4xl);
    }

    /* Padding horizontal */

    .ix-lg-px-0 {
        padding-inline: 0;
    }

    .ix-lg-px-2xs {
        padding-inline: var(--ix-spacing-2xs);
    }

    .ix-lg-px-xs {
        padding-inline: var(--ix-spacing-xs);
    }

    .ix-lg-px-sm {
        padding-inline: var(--ix-spacing-sm);
    }

    .ix-lg-px-md {
        padding-inline: var(--ix-spacing-md);
    }

    .ix-lg-px-lg {
        padding-inline: var(--ix-spacing-lg);
    }

    .ix-lg-px-xl {
        padding-inline: var(--ix-spacing-xl);
    }

    .ix-lg-px-2xl {
        padding-inline: var(--ix-spacing-2xl);
    }

    .ix-lg-px-3xl {
        padding-inline: var(--ix-spacing-3xl);
    }

    .ix-lg-px-4xl {
        padding-inline: var(--ix-spacing-4xl);
    }

    /* Padding vertical */

    .ix-lg-py-0 {
        padding-block: 0;
    }

    .ix-lg-py-2xs {
        padding-block: var(--ix-spacing-2xs);
    }

    .ix-lg-py-xs {
        padding-block: var(--ix-spacing-xs);
    }

    .ix-lg-py-sm {
        padding-block: var(--ix-spacing-sm);
    }

    .ix-lg-py-md {
        padding-block: var(--ix-spacing-md);
    }

    .ix-lg-py-lg {
        padding-block: var(--ix-spacing-lg);
    }

    .ix-lg-py-xl {
        padding-block: var(--ix-spacing-xl);
    }

    .ix-lg-py-2xl {
        padding-block: var(--ix-spacing-2xl);
    }

    .ix-lg-py-3xl {
        padding-block: var(--ix-spacing-3xl);
    }

    .ix-lg-py-4xl {
        padding-block: var(--ix-spacing-4xl);
    }
}

@media (min-width: 1600px) {
    .ix-xl-p-0 {
        padding: 0;
    }

    .ix-xl-p-2xs {
        padding: var(--ix-spacing-2xs);
    }

    .ix-xl-p-xs {
        padding: var(--ix-spacing-xs);
    }

    .ix-xl-p-sm {
        padding: var(--ix-spacing-sm);
    }

    .ix-xl-p-md {
        padding: var(--ix-spacing-md);
    }

    .ix-xl-p-lg {
        padding: var(--ix-spacing-lg);
    }

    .ix-xl-p-xl {
        padding: var(--ix-spacing-xl);
    }

    .ix-xl-p-2xl {
        padding: var(--ix-spacing-2xl);
    }

    .ix-xl-p-3xl {
        padding: var(--ix-spacing-3xl);
    }

    .ix-xl-p-4xl {
        padding: var(--ix-spacing-4xl);
    }

    /* Padding top */

    .ix-xl-pt-0 {
        padding-top: 0;
    }

    .ix-xl-pt-2xs {
        padding-top: var(--ix-spacing-2xs);
    }

    .ix-xl-pt-xs {
        padding-top: var(--ix-spacing-xs);
    }

    .ix-xl-pt-sm {
        padding-top: var(--ix-spacing-sm);
    }

    .ix-xl-pt-md {
        padding-top: var(--ix-spacing-md);
    }

    .ix-xl-pt-lg {
        padding-top: var(--ix-spacing-lg);
    }

    .ix-xl-pt-xl {
        padding-top: var(--ix-spacing-xl);
    }

    .ix-xl-pt-2xl {
        padding-top: var(--ix-spacing-2xl);
    }

    .ix-xl-pt-3xl {
        padding-top: var(--ix-spacing-3xl);
    }

    .ix-xl-pt-4xl {
        padding-top: var(--ix-spacing-4xl);
    }

    /* Padding bottom */

    .ix-xl-pb-0 {
        padding-bottom: 0;
    }

    .ix-xl-pb-2xs {
        padding-bottom: var(--ix-spacing-2xs);
    }

    .ix-xl-pb-xs {
        padding-bottom: var(--ix-spacing-xs);
    }

    .ix-xl-pb-sm {
        padding-bottom: var(--ix-spacing-sm);
    }

    .ix-xl-pb-md {
        padding-bottom: var(--ix-spacing-md);
    }

    .ix-xl-pb-lg {
        padding-bottom: var(--ix-spacing-lg);
    }

    .ix-xl-pb-xl {
        padding-bottom: var(--ix-spacing-xl);
    }

    .ix-xl-pb-2xl {
        padding-bottom: var(--ix-spacing-2xl);
    }

    .ix-xl-pb-3xl {
        padding-bottom: var(--ix-spacing-3xl);
    }

    .ix-xl-pb-4xl {
        padding-bottom: var(--ix-spacing-4xl);
    }

    /* Padding right */

    .ix-xl-pr-0 {
        padding-right: 0;
    }

    .ix-xl-pr-2xs {
        padding-right: var(--ix-spacing-2xs);
    }

    .ix-xl-pr-xs {
        padding-right: var(--ix-spacing-xs);
    }

    .ix-xl-pr-sm {
        padding-right: var(--ix-spacing-sm);
    }

    .ix-xl-pr-md {
        padding-right: var(--ix-spacing-md);
    }

    .ix-xl-pr-lg {
        padding-right: var(--ix-spacing-lg);
    }

    .ix-xl-pr-xl {
        padding-right: var(--ix-spacing-xl);
    }

    .ix-xl-pr-2xl {
        padding-right: var(--ix-spacing-2xl);
    }

    .ix-xl-pr-3xl {
        padding-right: var(--ix-spacing-3xl);
    }

    .ix-xl-pr-4xl {
        padding-right: var(--ix-spacing-4xl);
    }

    /* Padding left */

    .ix-xl-pl-0 {
        padding-left: 0;
    }

    .ix-xl-pl-2xs {
        padding-left: var(--ix-spacing-2xs);
    }

    .ix-xl-pl-xs {
        padding-left: var(--ix-spacing-xs);
    }

    .ix-xl-pl-sm {
        padding-left: var(--ix-spacing-sm);
    }

    .ix-xl-pl-md {
        padding-left: var(--ix-spacing-md);
    }

    .ix-xl-pl-lg {
        padding-left: var(--ix-spacing-lg);
    }

    .ix-xl-pl-xl {
        padding-left: var(--ix-spacing-xl);
    }

    .ix-xl-pl-2xl {
        padding-left: var(--ix-spacing-2xl);
    }

    .ix-xl-pl-3xl {
        padding-left: var(--ix-spacing-3xl);
    }

    .ix-xl-pl-4xl {
        padding-left: var(--ix-spacing-4xl);
    }

    /* Padding horizontal */

    .ix-xl-px-0 {
        padding-inline: 0;
    }

    .ix-xl-px-2xs {
        padding-inline: var(--ix-spacing-2xs);
    }

    .ix-xl-px-xs {
        padding-inline: var(--ix-spacing-xs);
    }

    .ix-xl-px-sm {
        padding-inline: var(--ix-spacing-sm);
    }

    .ix-xl-px-md {
        padding-inline: var(--ix-spacing-md);
    }

    .ix-xl-px-lg {
        padding-inline: var(--ix-spacing-lg);
    }

    .ix-xl-px-xl {
        padding-inline: var(--ix-spacing-xl);
    }

    .ix-xl-px-2xl {
        padding-inline: var(--ix-spacing-2xl);
    }

    .ix-xl-px-3xl {
        padding-inline: var(--ix-spacing-3xl);
    }

    .ix-xl-px-4xl {
        padding-inline: var(--ix-spacing-4xl);
    }

    /* Padding vertical */

    .ix-xl-py-0 {
        padding-block: 0;
    }

    .ix-xl-py-2xs {
        padding-block: var(--ix-spacing-2xs);
    }

    .ix-xl-py-xs {
        padding-block: var(--ix-spacing-xs);
    }

    .ix-xl-py-sm {
        padding-block: var(--ix-spacing-sm);
    }

    .ix-xl-py-md {
        padding-block: var(--ix-spacing-md);
    }

    .ix-xl-py-lg {
        padding-block: var(--ix-spacing-lg);
    }

    .ix-xl-py-xl {
        padding-block: var(--ix-spacing-xl);
    }

    .ix-xl-py-2xl {
        padding-block: var(--ix-spacing-2xl);
    }

    .ix-xl-py-3xl {
        padding-block: var(--ix-spacing-3xl);
    }

    .ix-xl-py-4xl {
        padding-block: var(--ix-spacing-4xl);
    }
}
