:root {
    --ix-transition-all: all var(--ix-transition-duration) var(--ix-transition-animation);
}

.ix-transition-all {
    transition: var(--ix-transition-all);
}

@media (prefers-reduced-motion: reduce) {
    :root {
        --ix-transition-all: none;
        --ix-transition-duration: 0s;
    }
}
