:where(ix-progress-bar, .ix-progress-bar) {
    --ix-progress-bar-fill: var(--ix-color-fill-main-default);
    --ix-progress-bar-track-height: 8px;

    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: var(--ix-spacing-2xs);
    width: 100%;
}

:where(ix-progress-bar[state="success"], .ix-progress-bar[state="success"]) {
    --ix-progress-bar-fill: var(--ix-color-fill-success-default);
}

:where(ix-progress-bar[state="error"], .ix-progress-bar[state="error"]) {
    --ix-progress-bar-fill: var(--ix-color-fill-danger-default);
}

:where(ix-progress-bar, .ix-progress-bar) > label {
    grid-column: 1;
    font-size: var(--ix-font-size-md);
    font-weight: var(--ix-font-weight-medium);
    color: var(--ix-color-foreground-main-default);
    line-height: 150%;
}

:where(.ix-progress-bar__percent) {
    grid-column: 2;
    font-size: var(--ix-font-size-sm);
    color: var(--ix-color-foreground-main-subtle);
    line-height: 150%;
    align-self: center;
}

:where(ix-progress-bar, .ix-progress-bar) > .ix-icon {
    grid-column: 2;
    color: var(--ix-progress-bar-fill);
    align-self: center;
    flex-shrink: 0;
}

:where(ix-progress-bar, .ix-progress-bar) > progress {
    grid-column: 1 / -1;
    appearance: none;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    height: var(--ix-progress-bar-track-height);
    border: none;
}

:where(ix-progress-bar, .ix-progress-bar) > progress::-webkit-progress-bar {
    background-color: var(--ix-color-fill-neutral-subtle);
    border-radius: var(--ix-border-radius-pill);
}

:where(ix-progress-bar, .ix-progress-bar) > progress::-webkit-progress-value {
    background-color: var(--ix-progress-bar-fill);
    border-radius: var(--ix-border-radius-pill);
    transition:
        width var(--ix-transition-duration) var(--ix-transition-animation),
        background-color var(--ix-transition-duration) var(--ix-transition-animation);
}

:where(ix-progress-bar, .ix-progress-bar) > progress::-moz-progress-bar {
    background-color: var(--ix-progress-bar-fill);
    border-radius: var(--ix-border-radius-pill);
}
