.ix-table {
    border-collapse: collapse;
    border-radius: var(--ix-border-radius-sm);
    font-size: var(--ix-base-font-size);
}

.ix-table--sm .ix-table__cell {
    font-size: var(--ix-font-size-sm);
}

.ix-table--lg .ix-table__cell {
    font-size: var(--ix-font-size-lg);
}

.ix-table__row {
    font-size: inherit;
    border-top: 1px solid var(--ix-color-border-main-default);
}

.ix-table__cell {
    text-align: left;
    padding: var(--ix-spacing-xs) var(--ix-spacing-md);
}
